# Godot-specific
.import/
.export/
.godot/
# (Godot 4.0 will automatically generates .godot folder)

# OS-specific
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.log

# Builds and exports
build/
export/
*.exe
*.apk
*.zip
*.pck

